{% extends 'mfolder/base.html' %}
{% block parentblock %}

{% load crispy_forms_tags %}
<div class="container text-center">
  <br>
  <br>
  <br>
  <br>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSbRNAyCI1uW20AWEhSvi3BzG_M4-gqAQRmL1KwxNf132WqVc6v&usqp=CAU" >
   <h2><b> for you to explore more,please signup here: </b><h2>
{% if msg %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{msg}}</strong>
</div>
{% endif %}

<div class="row justify-content-center">
  <div class="col-lg-6">
     <form method="POST" >
      {{list3 | crispy}}
      {% csrf_token %}
      <input type="submit" value="save" class="btn btn-danger" />
    </form>
  </div>
</div>

    </div>
{% endblock %}
